
.topimg{
    align-content: center;
    margin-left: 300px;
    margin-top: 20px;
    height: 350px;
    width: auto;
}
.heading1{
text-align: center;
color: rgb(136, 1, 69);
font-family: 'Oswald', sans-serif;
}
.heading2{
    text-align: center;
    color: rgb(219, 5, 69);
    margin-top: 25px;
}
.headingundr{
    text-align: center;
    font-family: monospace;
    color: darkviolet;
    margin-top: 30px;
}
.card {display:inline-block;
    
}
.divcontact{
    margin-top: 20px;
    background-color: deepskyblue;
}
.dropdown1{
    background-color: orangered;
}